<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/3d99071d-16ec-412e-b919-add3346fc9e4/resourcegroups/sporthubapp/providers/Microsoft.Web/sites/SportHubAPI20210514114037</ResourceId>
    <ResourceGroup>sporthubapp</ResourceGroup>
    <ApiResourceId>/subscriptions/3d99071d-16ec-412e-b919-add3346fc9e4/resourceGroups/0804poibmsMyExample20210221160315ResourceGroup/providers/Microsoft.ApiManagement/service/SportHubAPIapi/apis/SportHubAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://sporthubapi20210514114037.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>dc83870f-75ab-4dfc-bf8f-5c38365e44c8</ProjectGuid>
    <MSDeployServiceURL>sporthubapi20210514114037.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SportHubAPI20210514114037</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SportHubAPI20210514114037</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>